body {
    font-family: 'Lato', sans;
    text-align: justify;
    hyphens: auto;
    color: black;
    margin: auto;
    margin-top: 20px;
    max-width: 80ch;
    padding: 0;
    background: white;
}

@media ( max-width: 80ch ), ( max-device-width: 80ch ) {
    body {
        margin: 1ch;
        max-width: none;
    }
}

@media ( max-width: 750px ), ( max-device-width: 750px ) {
    pre#logo { transform: scaleX( 1 ) scaleY( 0.8 ) !important; }
}

@media ( max-width: 550px ), ( max-device-width: 550px ) {
    pre#logo {
        transform: scaleX( 0.6 ) scaleY( 0.6 ) !important;
        left: calc( 50% - 33ch );
        position: relative;
    }
    #logo-wrapper { height: 6ex; max-width: 50ch !important; margin: auto !important; }
}

pre, tt, code {
    font-family: 'Ubuntu Mono';
    font-size: 100%;
    margin: 0;
    padding: 0;
    overflow: auto;
}

td.sourceCode { max-width: 200px; }
table.sourceCode { max-width: 100%; }

code { color: #1A001A; }

pre#logo {
    white-space: pre;
    font-size: 16px;
    font-weight: bold;
    overflow: hidden;
    transform-origin: 50% 0;
    transform: scaleX(1.2);
    margin: auto;
    display: block;
    width: 65ch;
}

h1, h2, h3 { font-family: 'Aleo', 'Lato', sans; }

#logo-wrapper {
    font-size: 16px;
    font-family: 'Ubuntu Mono';
    margin: 0;
    text-align: center;
    width: 100%;
}

#toc ul { list-style-type: none; }
strong { color: #200020; }
p > .divine { color: #3A103A; font-weight: normal; }

a:link, a:visited, a:active { text-decoration: none; color: darkred; }
a:link:hover, a:visited:hover, a:active:hover { text-decoration: none; color: darkblue; }

pre#linkbar {
    white-space: pre;
    background: #202020;
    margin-left: -1ch;
    margin-right: -1ch;
    text-align: center;
    font-family: inherit; padding: 4px; margin-top: 2ex; font-size: 80%;
    overflow: hidden;
}

@media ( max-width: 70ch ), ( max-device-width: 70ch ) {
    pre#linkbar { white-space: normal; }
    #linkbar a { margin-left: .7em !important; margin-right: .6em !important; }
}

div#footer {
    font-family: inherit; padding: 4px; margin-top: 2ex; font-size: 80%;
    background: #202020;
    text-align: center;
    color: white;
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: -1ch;
    margin-right: -1ch;
}

#footer .divider { margin-left: .5em; margin-right: .5em; }

#linkbar a { margin-left: 1em; margin-right: 1em; }
#linkbar a:link, #linkbar a:visited { color: white; }
#linkbar a:link:hover, #linkbar a:visited:hover { color: pink; }
#footer a:link, #footer a:visited { color: white; }
#footer a:link:hover, #footer a:visited:hover { color: pink; }

h1 {
    font-weight: normal;
    font-size: 121%;
    text-align: left;
    margin-top: 16px;
    margin-bottom: 16px;
    color: black;
}

h2, h3
{
    font-size: 110%;
    font-style: regular;
    font-weight: normal;
}

.invisible { display: none; }

.anon { line-height: 13px; }
.slashx { transform: translate(-1px) rotate(-48deg) scaleY(1.6); display: inline-block; }
.slash { transform: translateX(-1px) rotate(-51deg) scaleY(1.6); display: inline-block; }
.fslash { transform: translateX(1px) rotate(48deg) scaleY(1.6); display: inline-block; }

@font-face {
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu Mono'), local('UbuntuMono-Regular'), url(um-400.ttf) format('truetype');
}

@font-face {
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-weight: 700;
  src: local('Ubuntu Mono Bold'), local('UbuntuMono-Bold'), url(um-700.ttf) format('truetype');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(lato-400.ttf) format('truetype');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(lato-700.ttf) format('truetype');
}

/* pandoc syntax */
td.lineNumbers { solid #AAAAAA; text-align: right; color: #AAAAAA; width: 2em; }
td.lineNumbers pre { border: none; text-align: right; padding: 0;
                     margin-right: 1ch; padding-top: 0; }
table.sourceCode { width: 100%; }
td.sourceCode { padding-left: 0; }
td.sourceCode pre { margin: 0 ; }
code.sourceCode span.kw { color: #007020; font-weight: bold; }
code.sourceCode span.dt { color: #902000; }
code.sourceCode span.dv { color: #40a070; }
code.sourceCode span.bn { color: #40a070; }
code.sourceCode span.fl { color: #40a070; }
code.sourceCode span.ch { color: #4070a0; }
code.sourceCode span.st { color: #4070a0; }
code.sourceCode span.co { color: #60a0b0; font-style: italic; }
code.sourceCode span.ot { color: #007020; }
code.sourceCode span.al { color: red; font-weight: bold; }
code.sourceCode span.fu { color: #06287e; }
code.sourceCode span.re { }
code.sourceCode span.er { color: red; font-weight: bold; }

/* ansi2html */
.ef0,.f0 { color: #000000; } .eb0,.b0 { background-color: #000000; }
.ef1,.f1 { color: #AA3040; } .eb1,.b1 { background-color: #AA0000; }
.ef2,.f2 { color: #00AA00; } .eb2,.b2 { background-color: #00AA00; }
.ef3,.f3 { color: #DA9520; } .eb3,.b3 { background-color: #AA5500; }
.ef4,.f4 { color: #0000AA; } .eb4,.b4 { background-color: #0000AA; }
.ef5,.f5 { color: #AA50AA; font-weight: bold; } .eb5,.b5 { background-color: #AA00AA; }
.ef6,.f6 { color: #00AAAA; } .eb6,.b6 { background-color: #00AAAA; }
.ef7,.f7 { color: #AAAAAA; } .eb7,.b7 { background-color: #AAAAAA; }
.f9 { color: white; }
.bold { font-weight: bold; }

table.test_results {
    border-collapse: collapse;
}

span.test_passed {
    color: green;
}

span.test_failed {
    color: red;
}

span.test_skipped {
    color: gray;
}

td.test {
    padding-right: 1em;
}

td.test_result {
    text-align: center;
}

td.test_result a {
    color: white;
    padding: 4px
}

td.test_passed {
    background-color: green;
}

td.test_failed {
    background-color: red;
}

td.test_skipped {
    background-color: gray;
}

td.test_started {
    background-color: black;
}

td.test_interrupted {
    background-color: #999900;
}
